<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.blog.css">
    <link rel="shortcut icon" href="/img/icone.ico" type="image/x-icon">
    <title>Blog Agência Dev DH</title>
   
</head>
<body>
    <header class = "header">
      <h1><img src = "/img/logo.png" alt = "logo"></h1>  
      
    </header>
    <main>
       
        <h3><strong>Postado em 02/03/2021</strong></h3>
        <p>Lorem ipsum dolor sit amet consectetur, <strong>adipisicing elit.</strong> Possimus inventore harum omnis repudiandae sint nulla ullam natus, at ea iure consequuntur aliquam laudantium aspernatur ducimus sed quam ex accusamus nobis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus inventore harum omnis repudiandae sint nulla ullam natus, at ea iure consequuntur aliquam laudantium aspernatur ducimus sed quam ex accusamus nobis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus inventore harum omnis repudiandae sint nulla ullam natus, at ea iure consequuntur aliquam laudantium aspernatur ducimus sed quam ex accusamus nobis.</p>
        <div><img src = "/img/destaque.png"></div>
        

        <h2> <strong>Este é um subtitulo este é um</strong></h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus error molestiae expedita ullam similique, eveniet maxime cum corrupti? Praesentium dolorem cum libero recusandae facere quis minima, officia quisquam quia dicta?</p>

        <h2> <strong>Este é um subtitulo este é um subtitulo este é um subtitulo</strong></h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quidem architecto temporibus reiciendis, iste optio alias perferendis deleniti officia quis hic repellat modi adipisci ullam quod minima, magnam rem fugiat.</p>
     


<p>Lorem ipsum, dolor sit amet consectetur adipisicing <strong>elit. Soluta quod distinctio nisi mollitia </strong>eaque deserunt temporibus quisquam amet iure, ut, voluptatem doloribus quae sit quia? Eius unde placeat tenetur rerum!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta quod distinctio nisi mollitia eaque deserunt temporibus quisquam amet iure, ut, voluptatem doloribus quae sit quia? Eius unde placeat tenetur rerum!</p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta quod distinctio nisi mollitia eaque deserunt temporibus quisquam amet iure, ut, voluptatem doloribus quae sit quia? Eius unde placeat tenetur rerum!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta quod distinctio nisi mollitia eaque deserunt temporibus quisquam amet iure, ut, voluptatem doloribus quae sit quia? Eius unde placeat tenetur rerum!</p>

    </main>
    <hr>
    
    <footer>
<ul> 
<img "icon.social"  src = "/img/facebook.svg">
<img "icon.social"  src = "/img/instagram.svg">
<img "icon.social"  src = "/img/linkedin.svg">
<img "icon.social"  src = "/img/youtube.svg">
</ul>

    </footer>
</body>
</html>