<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agência Dev House</title>
</head>
<body>
<h1>Bem Vindo a agência Dev House </h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta inventore illum amet vitae dolorum ipsam a, voluptatibus, maxime nisi minus odio natus magni, minima dolore aliquam ea labore quod sapiente?</p>

</body>
</html>