<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Agência Dev House</title>
</head>
<body>
    <header>
        <img
          src="/img/logo.png"
          alt="Agencia - devHouse"
          title="Agencia - devHouse"
          id="logo"
        />
        <img id="menu-mobile" src="/img/menu-icon.png" alt="Menu" title="Menu" />
        <nav class="menu">
          <a href=""> Home </a>
          <a href=""> Produtos </a>
          <a href=""> Depoimentos </a>
          <a href="/blog"> Blog </a>
        </nav>
        <div class="atendimento">
          <a href="tel:+1140028922">(11) 4002-8922</a>
          <button>Atendimento</button>
        </div>
      </header>
<main>

    <div class ="banner1">
<h1>Good Design meets great  user experience</h1> 
    </div>
    <p>Teste Teste Teste Teste Teste</p>
     <button class = "botao-banner1">Botão 1</button>
     <button class = "botao-banner2">Botão 2</button>
     <br>
     <img class = "imagem-banner" src="/img/banner.png" alt = "banner" title = "banner" id = "banner">

     <div class = "divisor">
      <p>Trusted by forwad-thiking software teams around the world</p>

      <div class = "imagens3">
        <img class="drawkit" src="/img/drawkit.png" alt="drawkit" title="drawkit" />
        <img class="cinemax" src="/img/cinemax.png" alt="cinemax" title="cinemax" />
        <img class="disney" src="/img/disney.png" alt="disney" title="disney" />
      </div>

      <div class ="banner2">
        <h2>Whatver work you do  <br> we're able to help</h2> 

            </div>
           
            <div class = "chat">
             <button class= "chat">Chat com a área de vendas</button>
            </div>

</main>

</div>
</body>
</html>