<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Agência Dev House</title>
</head>
<body>
    <header class = "header">
      x'
            <img src="/img/logo.png" alt = "Agência Dev-House" title = "Agência Dev- House" id = "logo">
        <nav class = "menu">
            <a href ="">Home</a>
            <a href ="">Menu</a>
            <a href ="">Procedimentos</a>
        </nav>
        <img id = "menu-mobile" src = "/img/menu-icon.png" alt = "Menu" title = "Menu">
<div class = "atendimento">
    <a href=”tel:+5502122222222″>+55(0)21 – 2222-2222</a>
    <button>Atendimento</button>
</div>
        

    </header>
<main>

    <div class ="banner">
<h1>Good Design meets great  user experience</h1> 
    </div>
    <p>Teste Teste Teste Teste Teste</p>
     <button>Botão 1</button>
     <button>Botão 2</button>
     <br>
     <img src="/img/banner.png" alt = "banner" title = "banner" id = "banner">

</main>
</body>
</html>