* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body {
  font-family: "Courier New", Courier, monospace;
  font-family: "Roboto";
  font-size: 20px;
  background-color: #F2F9FF;
  ;
}

.icon-social {
  width: 80px;
}

header {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  

}

.menu a {
  color: #3f3f6c;
  margin-left: 50px;
  text-decoration: none;
  font-size: 22px;
}

.atendimento button {
  background-color: #3751ff;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  border-radius: 40px;
  cursor: pointer;
}



main{
  display: grid;
  justify-items: center;
  position:relative;
  color:#1E266D;


}

main button{
  position:relative;
  background-color: #3751ff;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
 
  border-radius: 40px;
  cursor: pointer;

}

.botao-banner1{
  margin:10px;
  background-color: #3751ff;
  position:relative;
  right: 50px;
  
}

.botao-banner2{
  
  background-color: cornsilk;
  position:relative;
  left:50px;
  bottom:55px;
  color:black;
}

.divisor{
  text-align: center;
}

.drawkit{
  margin:10px;
  position:relative;
  width: 95px;
  height: 33px;
  right: 300px;
  
}

.cinemax{
  margin:10px;
  height: 33px;
  right: 174px;
  
}

.disney{
  margin:10px;
  position:relative;
  left: 300px;
  height: 33px;
  right: 71px;
  
}

.banner2{
 font-size: 30px;
 
}

.chat{
 

}

#menu-mobile {
  display: none;
};

@media (max-width: 465px) {
  .menu {
    display: none;
  }

  .atendimento {
    display: none;
  }

  #menu-mobile {
    display: block;
  }
  header {
    justify-content: space-between;
  }
}