*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: whitesmoke;
};

.header{
   display:flex;
   justify-content:;
   align-items: ;
  
};

footer{
    display: flex;
    height: 30px;
};
ul{
   height: 30px;
}
